.orbitron-no-glow {
    font-family: "Orbitron";
}

.teamMember-layout {

}

@media (min-width: 1024px){
    .teamMember-layout {
        gap: 2rem;
    }
}


@media (min-width: 640px){
    .teamMember-layout {
        gap: 1.5rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        display: grid;
    }
}

.teamMember-image{
    object-fit: cover;
    border-radius: 9999px;
    width: 10rem;
    height: 10rem;
}

@media (min-width: 640px){
    .teamMember-text{
        grid-column: span 2 / span 2;
    }
}

.teamMember-title{
    font-family: "Orbitron";
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    line-height: 1.5rem;
    font-weight: 500;
    font-size: large;
    line-height: 1.75rem;
}