.bg-indigo-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(49,46,129,var(--tw-bg-opacity));
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.arrow {
    -webkit-clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%);
    clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%);
}

.bg-pic {
    background-image: url(../../assets/images/header/bg-pic.jpg);
    background-repeat: no-repeat;
}

.css-sanqhm {
    opacity: 0;
}
.orbitron {
    text-shadow: 0 0 8px #fff;
}

.orbitron, .orbitron-no-glow {
    font-family: "Orbitron";
}
.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.custom-button {
    background: -webkit-linear-gradient(#a21caf,#4c1d95);
}

.header-mobile{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: block;
}

@media (min-width: 1024px){
    .header-mobile{
        display: none;
    }
}

.header-mobile-img{
    width: auto;
}

@media (min-width: 640px){
    .header-mobile-img{
        height: 13rem;
    }
}
.header-mobile-avatar{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.header-mobile-text{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1rem;
    text-align: center;
}

.header-mobile-mint{
    background: linear-gradient(#a21caf,#4c1d95);
    position: relative;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    background-position: 0 -15;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    margin-top: 2.5rem;
}

.header-desktop{
    display: none;
}

@media (min-width: 1024px){
    .header-desktop{
        display: block;
    } 
}

.header-desktop-layout{
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
}

.pt-20 {
    padding-top: 5rem;
}

.header-desktop-mint{
    background: linear-gradient(#a21caf,#4c1d95);
    position: relative;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    background-position: 0 -15;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-panel{
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px){
    .header-panel{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px){
    .header-panel{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.header-panel-logo{
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: none;
    z-index: 0;
    top: 0px;
    left: 100%;
    position: absolute;opacity: 0.2;
}

@media (min-width: 1024px){
    .header-panel-logo{
        --tw-translate-y: 25%;
        --tw-translate-x: 75%;
        display: block;
        left: auto;
        right: 100%;
    }
}

.header-panel-img1-layout{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 56rem;
}

.pb-24 {
    padding-bottom: 6rem;
}

.object-contain {
    object-fit: contain;
}

.h-48 {
    height: 12rem;
}

.header-panel-text1{
    --tw-text-opacity: 1;
    color: white;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-bottom: 1.5rem;
    z-index: 10;
}
@media (min-width: 640px){
    .header-panel-text1{
        font-size: 2.25rem;
    line-height: 2.5rem;
    }
}
.orbitron-no-glow {
    font-family: "Orbitron";
}
.header-panel-texts-layout{
    text-align: center;
    margin-top: 2.5rem;
    z-index: 10;
}
@media (min-width: 640px){
    .header-panel-texts-layout{
        gap: 2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-flex-col{
    display: flex;
    flex-direction: column;
}

.mt-10 {
    margin-top: 2.5rem;
}

.header-texts-title{
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    order: 2;
}

.header-texts-text{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-weight: 500;
    font-size: 3rem;
    line-height: 1;
    display: none;
    order: 1;
}
@media (min-width: 768px){
    .header-texts-text{
        display: block;
    }
}

.header-box-layout{
    margin-top: 2.5rem;
    text-align: center;
}

@media (min-width: 640px){
    .header-box-layout{
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 80rem;
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }
}

.header-box-container{
    flex-grow: 1;
    max-width: 36rem;
    margin: 2.5rem;
}

.header-box{
    padding-bottom: 2rem;
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1 1 0%;
}
@media (min-width: 768px){
    .header-box{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.header-box-up{
    padding: 1.25rem;
    --tw-translate-y: -50%;    
    --tw-translate-x: 0;
    /* --tw-translate-y: 0; */
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: inline-block;
    top: 0px;
}

.w-10 {
    width: 2.5rem;
}

.header-box-title{
    --tw-text-opacity: 1;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.header-box-text{
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
    line-height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}