.vision-text-layout{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
}

@media (min-width: 1024px){
    .vision-text-layout{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}